.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.align-content-center {
    align-content: center;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.outer-content-container {
    width: 85%;
}

.triennial-space {
    flex: 0 0 40%;
}

a {
    color: inherit;
    text-decoration-color: aqua;
}

a:hover {
    text-decoration: none;
}

@media all and (max-width: 820px) {

    .row {
        flex-direction: column;
    }

    .triennial-space {
        flex: initial;
    }

}